body {
  background-image: url(https://cdn.pixabay.com/photo/2017/11/14/05/14/universe-2947500_1280.jpg);
  text-align: center;
}

div {
  align-content: center;
  margin: 10px;
}

input {
  margin: 10px;
}

label {
  margin-right: -130px;
}

p {
  color: white;
}
